body{
    margin: 0;
    style="overflow:hidden;"
    display: grid;
    grid-template-areas: 'nav'
                         'header'
                         'section'
                         'aside'
                         'article'
                         'footer';
    grid-template-areas: 15vh 15vh 15vh 15vh 15vh 15vh;
}

article{
    grid-area: article;
    background-color: white;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

article div{
    display: flex;
    justify-content: space-around;
}

#citacao{
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#frase1{
    color: grey;
    font-family: 'Roboto', sans-serif;
    font-size: 11pt;
    font-style: italic;
    line-height: 1.8;
    width: 55%;
    margin-top: 0;
}

h2{
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 11pt;
    text-decoration: none;
    margin-top: 0;
}

#fotosPessoas{
    margin-top: 10px;
    width: 70vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

article div img{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

article img:hover{
    background-color: #2dcc72;
}

#textoInteracao{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h3{
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 15pt;
    text-decoration: none;
}

#frase2{
    margin-top: 0;
    color: grey;
    font-family: 'Roboto', sans-serif;
    font-size: 11pt;
}

article div a{
    width: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

article a img{
    margin-top: 20px;
    width:30px;
    height: 30px;
    background-color: lightgray;
    border-radius: 100%;
}

article a :hover{
    background-color: #2dcc72;
}

aside{
    grid-area: aside;
    background-color: #e3e3e3;
    height: 366px;
    display: flex;
    justify-content: center;
}

.video{
    display: flex;
    align-items: center;
    padding: 50px;
    margin-left: 52px;
}

#borderVideo{
    border-radius: 10px;
}

#tituloAside{
    display: flex;
    font-family: 'Segoe UI';
    font-size: 20px;
    padding-top: 10px;
  
    margin-top: 34px; 
    margin-bottom: 20px;
}

#paragrafoAside{
    width: 500px;
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI';
    font-size: 14px;
    margin-top: 14px;
    margin-bottom: 14px;
    color: gray;
}

.divAside{
    display: flex;
    justify-content: space-around;
    padding-left: 45px;
}

#textoEinput{
    display: flex;
    flex-direction: column;
}

#inputAside input{
    width: 266px;
    height: 44px;
    border: none;
    align-items: center;
    border-radius: 15px 0px 0px 15px;
}

#inputAside button{
    width: 115px;
    height: 46px;
    border: none;
    margin: 0;
    color: white;
    background-color: #2dcc72;
    border-radius: 0px 15px 15px 0px;
}

::placeholder{
    font-size: 13pt;
    font-family: 'Segoe UI';
    padding-left: 10px;
}

#inputAside{
    padding-top: 19px;
}

footer{
    grid-area: footer;
    background-color: #e3e3e3;
    height: 110px;
    display: flex;
    justify-content: center;
}

footer a {
    color: darkgray;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-size: 11pt;
    display: flex;
    align-items: center;
}

#itensFooter {
    width: 470px;
    display: flex;
    justify-content: space-between;
}

header{
    grid-area: header;
    background-image: url(./img/banner.png);
    background-size: 1365px 512px;
    width: 100%;
    height: 511px;
    display: flex;
    justify-content: center;  
}

.circulo1{
    width: 43px;
    height: 43px;
    background-color: black;
    border-radius: 100%;
    justify-content: center;
    filter:alpha(opacity=50);
    opacity: 0.5;
}

.circulo1 img{
    padding: 8px;
}

#handElogo{
    width: 920px;
    display: flex;
    justify-content: space-between;
}

#hand{
    width: 373px;
    height: 429px;
    display:flex;
    padding-top: 82px; 
}

h1{
    z-index: 1000;
    font-family: 'Pacifico';
    font-size: 50px;
    color: white;
    padding-top: 32px;
    margin-bottom: 0px;
    display: flex;
}

#notify{
    display: flex;
    flex-direction: column;
    width: 1000px;
    height: 297px;
    padding: 50px;
    padding-top: 61px;
    justify-content: space-around;
}

#fraseHeader{
    font-family: 'Segoe UI';
    display: flex;
    font-size: 22px;
    color: white;
    width: 400px;
}

#paragrafo{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.icones{
    display: flex;
    width: 150px;
    justify-content: space-between;
    padding-bottom: 2px;
    z-index: 1000px;
}

:hover.circulo1 {
    background-color: #2dcc72;
    filter:alpha(opacity=50);
    opacity: 1;
}

.apple{
    display: flex;
    justify-content: center;
    align-items: center;
}

span{
    color: #2dcc72;
}

nav{
    grid-area: nav;
    background-color: #2dcc72;
    height: 9px;
    display: flex;
}

section{
    grid-area: section;
    background-color: white;
    height: 287px;
    display: flex;
    justify-content: center;
}

.verde1{
    width: 85px;
    height: 85px;
    background-color: #2dcc72;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;  
    margin-left: 105px;  
}

.editable{
    color: black;
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin-bottom: 0px;
}

.textoVerde1{
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI';
    text-justify: center;
    width: 300px;
}
.lorem1{
    display: flex;
    color: gray;
    font-size: 14px;
    padding-left: 20px;
}

.grupo{
    padding:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 23px;
}
